<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938428077332-ddcbr2n3se2o6u4jrdjs98loi4ms20c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938428077332-ddcbr2n3se2o6u4jrdjs98loi4ms20c8</string>
	<key>API_KEY</key>
	<string>AIzaSyDNT8ksLmI9WgLvmFDxz1Wf_kf5lVOCzC8</string>
	<key>GCM_SENDER_ID</key>
	<string>938428077332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rainingk.iOSPOS</string>
	<key>PROJECT_ID</key>
	<string>iospos-8f96a</string>
	<key>STORAGE_BUCKET</key>
	<string>iospos-8f96a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938428077332:ios:92bbbd75a7a69622</string>
	<key>DATABASE_URL</key>
	<string>https://iospos-8f96a.firebaseio.com</string>
</dict>
</plist>